{% load staticfiles %}
<html>
    <head>
        <!-- Esta marcação vai aparecer na aba do navegador, além de servir na hora de favoritar, entre outros -->
        <title>Django Girls blog</title>

        <!-- Esta marcação aponta para os modelos prontos do Bootstrap para marcações CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster" type="text/css">  

        <!-- Esta marcação aponta para o arquivo estático de CSS que criei em: blog/static/css/blog.css -->
        <link rel='stylesheet' href='{% static 'css/blog.css' %}'>
    </head>
    <body>
        <div>
            <h1><a href=''>Django Girls Blog</a></h1>
        </div>
        <div class='content container'>
            <div class='row'>
                <div class='col-md-8'>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
